<div th:fragment="header">
    <div class="header_inner dark_blue">
        <a class="header_logo" href="/">
            <img src="../img/StudyBlog-logo.png" alt="" width="150px" height="30px">
        </a>

        <form class="search" method="post">
            <input class="search_line" type="search" placeholder="Search article...">
            <button class="search-btn btn--red" type="submit">OK</button>
        </form>

        <nav class="nav">
            <a class="nav_link" href="#">info</a>
            <a class="nav_link" href="#">contacts</a>
            <a class="nav_link" href="profile">profile</a>
        </nav>
    </div>
</div>