<div th:fragment="footer" class = "footer">
        <div class="footer_inner">
            <div class="footer_block">
                <h4 class="footer_title">Location</h4>
                <address class="footer_address">
                    <div>141 Kuznetsova Ave.</div>
                    <div>Saint Petersburg, Russia</div>
                </address>
            </div>

            <div class="footer_block">
                <h4 class="footer_title">in nearest future</h4>
                <address class="footer_address">
                </address>
            </div>

            <div class="footer_block">
                <h4 class="footer_title">in nearest future</h4>
                <address class="footer_address">
                </address>
            </div>
        </div>
</div>