<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link rel="stylesheet" href="../css/main/style.css" type="text/css">
    <link rel="stylesheet" href="../css/auth/style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body class="profile">
<!-- HEADER -->
<header th:insert="blocks/header::header" class="header"/>


<section class="content" style="background-color: grey">
    <form th:action="@{/login}" method="post">
        <div class="container">
            <div><label>User Name: <input type="text" name="username"/></label></div>
            <div><label>Password: <input type="password" name="password"/></label></div>
            <button class="btn btn--red" type="submit">Sign in</button>
            <a class="btn btn--red" href="registration">registration</a>
        </div>
    </form>
</section>

<!-- FOOTER -->
<footer th:insert="blocks/footer::footer"/>
</body>
</html>