<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="../css/main/style.css" type="text/css">
    <link rel="stylesheet" href="../css/auth/style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap" rel="stylesheet">
</head>

<body class="profile">
<!-- HEADER -->
<header th:insert="blocks/header::header" class="header"/>


<!-- CONTENT -->
<main class="main  content container">

    <section class="col sidebar">
        <div class="sidebar_chapter">
            <h2 class="chapter_title">PROFILE</h2>
            <form th:action="@{/logout}" method="post">
                <input class="btn btn--red" type="submit" value="Sign out">
            </form>
        </div>
    </section>

    <section class="col base">
        BASE
    </section>

    <section class="col sidebar">
        <div class="sidebar_chapter">
            <h2 class="chapter_title">My articles</h2>
            <a href="#">+ new</a>
        </div>

        <div class="sidebar_chapter" style="height: 200px">
            <h2 class="chapter_title">English language</h2>
        </div>
        <div class="sidebar_chapter" style="height: 200px">

        </div>
        <div class="sidebar_chapter" style="height: 200px">

        </div>
        <div class="sidebar_chapter" style="height: 200px">

        </div>
        <div class="sidebar_chapter" style="height: 200px">

        </div>


    </section>
</main>



<!-- FOOTER -->
<footer th:insert="blocks/footer::footer"/>
</body>
</html>